<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Index</title>
        <script src="https://unpkg.com/htmx.org@1.7.3/dist/htmx.js"></script>
    </head>
    <!-- Include header component -->
    {% include 'components/header.html' %}

    <body>
        <div>
            <a href="/login">Go to Login</a>
        </div>

        <div>
            <h1 id="content">Hello, {{ name }}!</h1>
        </div>
    </body>

    <!-- Include footer component -->
    {% include 'components/footer.html' %}
</html>
